<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUMfyUH_0kOwFr4rhetqtex0FrttmZklg</string>
	<key>GCM_SENDER_ID</key>
	<string>748075183377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blog3</string>
	<key>PROJECT_ID</key>
	<string>fir-blog3-c6ce0</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-blog3-c6ce0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748075183377:ios:7c1c2347a6df6950cbf0b0</string>
</dict>
</plist>